body{
    font-size: 50px;
}
h1{
    font-size: 5em;
    color: white;
}
h1{
    background-color: crimson;
    color: darkgrey;
}
p1{
    font-size: 2em;
    color: white;
}
li{
    font-size: 1.5em;
    color:green;
    text-decoration-style: double;
    
